<article class="profiles-include">
  {% if site.data.profiles %}
    {% for profile_group in site.data.profiles.groups %}
      {% assign group_slug = profile_group.label | downcase | replace: " ", "-" %}
      <a name="{{ group_slug }}"><h3>{{ profile_group.label }}</h3></a>
      {{ profile_group.summary }}
      {% for profile in profile_group.members %}
        <hr/>
        <div class="profile float-{% if profile.align == 'right' %}right{% else %}left{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          <h5 style="margin-bottom: 0.1rem">
            <strong>
              {% if profile.profile_page %}
                <a href="{{ profile.profile_page | relative_url }}">{{ profile.name }}</a>
              {% else %}
                {{ profile.name }}
              {% endif %}
            </strong>
          </h5>
          {% if profile.title %}
            <h6>{{ profile.title }}</h6>
          {% endif  %}
          {% if profile.bio %}
            {% capture profile_content %}{% include_relative {{ profile.bio }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% endif %}
          {% comment %}
            <div class="publications-container">
              <div class="publications float-left">
                {% bibliography --sort_by year --order descending --group_by none --query @*[author_id~=\|{{ profile.id }}\|] %}
              </div>
            </div>
          {% endcomment %}
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}
</article>